<!-- Contains logo and navigation links using routerLink -->
<header>
    <div class="container">
        <div class="logo">
        <a href="#" routerLink="/"><img src="../../assets/images/logo/logo4.png" alt="Sun Travels Logo" width="110" height="40"></a>
    </div>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/search-page">Search</a>
                </li>
                <li>
                    <a href="#" routerLink="/contract-page">Contract</a>
                </li>
                <li>
                    <a href="#" routerLink="/hotel-page">Hotel</a>
                </li>
            </ul>
        </nav>
    </div>
</header>