<div class="background-image">
    <div class="logo">
    <img src="../../assets/images/logo/logo6.png" alt="Sun Travel logo">
    </div>
    <div class="nav-buttons">
       

        <!-- Three buttons to navigate -->
        <ul>
            <li>
                <a href="#" routerLink="/search-page"><mat-icon>find_in_page</mat-icon></a>
            </li>
            <li>
                <a href="#" routerLink="/contract-page"><mat-icon>card_travel</mat-icon></a>
            </li>
            <li>
                <a href="#" routerLink="/hotel-page"><mat-icon>local_bar</mat-icon></a>
            </li>
        </ul>
 
    </div>
</div>